@define-color taskbar_color rgba(0, 0, 0, 0.9);
@define-color button_hover rgba(199, 199, 199, 0.12);
@define-color start_color rgba(29, 29, 29, 0.87);

* {
	font-family: "Cantarell";
	font-weight: 100;
	text-shadow: none;
	font-size: 16px;
	color: white;
}

#Start {
	background-color: transparent;
}

#Start_btn.Start_open {
    background-color: rgba(199, 199, 199, 0.15);
}

#Start_sandbox {
	background-color: @start_color;
	border-radius: 0;
	color: #fff;
	padding: 10px;
}

#Start_search {
    background-color: rgba(255, 255, 255, 0.13);
    color: #fff;
    border: 0;
    border-radius: 0;
}

#Taskbar #Start_btn {
	/*background-color: rgba(255, 255, 255, 0.09);*/
}

#Taskbar #Start_btn:hover {
	background-color: @button_hover;
}

#Taskbar button.Window_selected {
    box-shadow: inset 0 2px 0 0px #2196F3;
	background-color: rgba(255, 255, 255, 0.1);
	color: #fff;
}

#Taskbar {
	background-color: transparent;
}

#Sandbox {
	background-color: @taskbar_color;
	border-radius: 0;
	color: #fff;
}

#Taskbar button {
	background: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	color: #fff;
}

#Windows_list button {
	color: rgba(255, 255, 255, 0.6);
}

#Taskbar button:hover {
	background-color: @button_hover;
    	color: #fff;
	font-weight: 100;
}

#Taskbar button:active {
	background: rgba(255, 255, 255, 0.12);
}

#Date_time {
	padding: 0 10px;
}
